/*
___________                                                   .__                        
\__    ___/______   ____ _____    ________ _________   ____   |  |   ____   ______ ______
  |    |  \_  __ \_/ __ \\__  \  /  ___/  |  \_  __ \_/ __ \  |  | _/ __ \ /  ___//  ___/
  |    |   |  | \/\  ___/ / __ \_\___ \|  |  /|  | \/\  ___/  |  |_\  ___/ \___ \ \___ \ 
  |____|   |__|    \___  >____  /____  >____/ |__|    \___  > |____/\___  >____  >____  >
                       \/     \/     \/                   \/            \/     \/     \/ 

                       - Treasure Less
                       - Guilherme Haschel
*/
/*
	- Colored-text-border
	-- Usa 4 cores como borda de uma fonte.
*/
.font-smoothing,
.anti-aliasing,
.antialiasing {
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.no-outline {
  outline: none;
}
.no-outline:focus {
  outline: none;
}
.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.no-user-select {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
